*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 60%;
}

.container{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calender{
	height:52rem;
	width: 45rem;
	padding: 2rem;
    border: groove;   
}

.months{
	width: 100%;
	height: 12rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #8cd7fa;
}

.months i{
	font-size: 3rem;
	cursor: pointer;
	padding: 2rem;
}

.months i:hover{
	cursor: pointer;
	border: 0.1rem solid #777;
}
.months h1{
	font-size: 3rem;
	display: flex;
	justify-content: center;

}
.months p{
	display: flex;
	justify-content: center;
	font-size: 1.2rem;
}


.weeks{
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
}

.weeks div{
	font-size: 1.5rem;
	font-weight: 400;
	color: #3f5be8;
	letter-spacing: 0.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(40rem/7);
}

.days{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.days div{
	font-size: 1.4rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(40rem/7);
}

.days div:hover:not(.empty){
	cursor: pointer;
	border: 0.1rem solid #777;

}


.event_container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


.event{
	height: 50%;
	width: 50%;
	border: groove;
	display: flex;
	justify-content: center;
	
	padding: 3rem;
}


.btnclass{
    
    margin-bottom:2rem;
}